<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
  </configSections>
  <memcached>
    <keyTransformer type="Enyim.Caching.Memcached.TigerHashKeyTransformer, Enyim.Caching"/>
    <servers>
      <add address="192.168.1.200" port="11211"/>
    </servers>
    <socketPool minPoolSize="2" maxPoolSize="200" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
  </memcached>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;Password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities1" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities2" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_crm_aspect_monitor_aod" connectionString="metadata=res://*/crm_aspect_monitor_aod.csdl|res://*/crm_aspect_monitor_aod.ssdl|res://*/crm_aspect_monitor_aod.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_acd" connectionString="metadata=res://*/acd.csdl|res://*/acd.ssdl|res://*/acd.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_agent" connectionString="metadata=res://*/agent.csdl|res://*/agent.ssdl|res://*/agent.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_agent2" connectionString="metadata=res://*/agent_2.csdl|res://*/agent_2.ssdl|res://*/agent_2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_agentpri" connectionString="metadata=res://*/agent_pri.csdl|res://*/agent_pri.ssdl|res://*/agent_pri.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_wrokgroup" connectionString="metadata=res://*/wrokgroup.csdl|res://*/wrokgroup.ssdl|res://*/wrokgroup.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_table" connectionString="metadata=res://*/table.csdl|res://*/table.ssdl|res://*/table.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
    <add name="testEntities_resourcegroup" connectionString="metadata=res://*/resourcegroup.csdl|res://*/resourcegroup.ssdl|res://*/resourcegroup.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1,3306;User Id=root;password=303062323;Persist Security Info=True;database=test&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
